extends ./../layout.pug
block content
    .container
        .row
            .col-sm-12
                h1
                    | Welcome &nbsp;
                    span(style="font-weight: normal; font-size: 20px; font-style: italic;") {{ request.user.email }} &nbsp;
                    span(style="font-weight: bold; font-size: 15px; color:darkgreen;") (VOLUNTEER)
                p Please select the appropriate service below.
        hr
        .row
            .col-sm-12
                #accordion
                    .card(style="border: none;")
                        #serviceOne.card-header
                            h5.mb-0
                                button.btn.btn-outline-primary(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                    | Transfer
                        #collapseOne.collapse.show(aria-labelledby='serviceOne' data-parent='#accordion')
                            .card-body
                                div(style="width: 100%;")
                                    h5 Create route
                                    form(method="POST", action="{% url 'volunteer:add_transfer_service' %}")
                                        .row
                                            .col-sm-6
                                                | {% csrf_token %}
                                                .row
                                                    .col-sm-12
                                                        .form-group
                                                            .input-group.date
                                                                input.form-control.date-time-picker(type='text' name='transfer-datetime' placeholder='Enter pick up time' required)
                                                                .input-group-addon.input-group-append
                                                                    .input-group-text
                                                                        i.glyphicon.glyphicon-calendar.fa.fa-calendar
                                                .row
                                                    .col-sm-6
                                                        .form-group
                                                            input.form-control(name="transfer-refugees", value="", type="number", placeholder="Number of passengers" required)
                                                .row
                                                    .col-sm-6
                                                        button#add-stop.btn.btn-sm.btn-outline-default
                                                            | Add stop &nbsp;
                                                            .fa.fa-plus
                                                    .col-sm-6
                                                        button#reset.btn.btn-sm.btn-outline-default
                                                            | Reset
                                                .row
                                                    .col-sm-12
                                                        table#stops-table.table.table-sm
                                                .row
                                                    .col-sm-12
                                                        button.btn.btn-dark.btn-block(type="submit") Add transfer
                                hr
                                div(style="width: 100%; margin: 10px 0 10px 0;")
                                    h5 My transfers
                                    table.table.table-sm.table-bordered
                                        thead
                                            tr
                                                th Pick up time
                                                th Number of seats
                                                th Route
                                                th Status
                                                th Delete
                                        | {% for transfer in transfers %}
                                        tr
                                            td {{ transfer.pick_up_time }}
                                            td {{ transfer.total_seats }}
                                            td {{ transfer.stopovers_text }}
                                            td
                                                | {% if transfer.active %}
                                                .fa.fa-check-circle
                                                | {% else %}
                                                .fa.fa-times-circle
                                                | {% endif %}
                                            th
                                                a.delete-confirmation(href="{% url 'volunteer:delete_transfer_service' transfer_id=transfer.id %}", data-confirm="Are you sure you want to delete?")
                                                    .fa.fa-times-circle.grey
                                        | {% endfor %}

                    //.card
                    //    #serviceTwo.card-header
                    //        h5.mb-0
                    //            button.btn.btn-outline-primary.collapsed(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
                    //                | Hosting
                    //    #collapseTwo.collapse(aria-labelledby='serviceTwo' data-parent='#accordion')
                    //        .card-body
                    //            | To be implemented


block extra_js
    script.
        var stops_table = $("#stops-table");
        function add_stops() {
            var stop_number = stops_table.find('tr').length;
            $.get("/locations/cities")
                .done(function (data){
                    var html = "<select class='autocomplete-stops' name='transfer-stop-" + (stop_number + 1) + "'>";
                    for (var i = 0; i < data.results.length ; i++) {
                        html += "<option value='" + data.results[i].id + "'>" + data.results[i].text + "</option>"
                    }
                    html += "</select>";
                    stops_table.append("<tr><td><div style='margin-top: 5px;'>#" + (stop_number+1) + "</div></td><td>" + html + "</td></tr>");
                })
                .always(function () {
                    $('.autocomplete-stops').selectpicker();
                });
        }
        $("#add-stop").click(function (e){
            e.preventDefault();
            add_stops();
        })
        $("#reset").click(function (e) {
            e.preventDefault();
            stops_table.html('');
        })
