<!DOCTYPE html>{% load static crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/logo/apple-icon.png' %}">
    <title>Refugee Management</title>
    <!-- CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-select.min.css' %}">
  </head>
  <body>{% if success %}
    <div class="alert alert-success alert-dismissable form-success" role="alert">
      <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times</span></button>{{ success }}
    </div>{% endif %}
    {% if error %}
    <div class="alert alert-danger alert-dismissable form-error" role="alert">
      <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times</span></button>{{ error }}
    </div>{% endif %}
    <nav class="navbar navbar-expand-lg navbar-dark"><a class="navbar-brand mb-0" href="/">Refugee Care</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="navbar-nav">
          <div class="nav-item"><a class="nav-link" href="{% url 'frontend:home' %}">Home</a></div>{% if request.user.is_authenticated %}
          <div class="nav-item"><a class="nav-link" href="/services">Services</a></div>{% endif %}
        </div>
        <div class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          {% if request.user.is_staff %}
          <div class="nav-item"><a class="nav-link" href="/admin">Admin</a></div>{% endif %}
          <div class="nav-item"><a class="nav-link" href="/logout">Logout</a></div>{% else %}
          <div class="nav-item"><a class="nav-link" href="/login">Login</a></div>{% endif %}
        </div>
      </div>
    </nav>
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>Welcome &nbsp;<span style="font-weight: normal; font-size: 20px; font-style: italic;">{{ request.user.email }} &nbsp;</span><span style="font-weight: bold; font-size: 15px; color:darkgreen;">(VOLUNTEER)</span></h1>
            <p>Please select the appropriate service below.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div id="accordion">
              <div class="card" style="border: none;">
                <div class="card-header" id="serviceOne">
                  <h5 class="mb-0">
                    <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Transfer</button>
                  </h5>
                </div>
                <div class="collapse show" id="collapseOne" aria-labelledby="serviceOne" data-parent="#accordion">
                  <div class="card-body">
                    <div style="width: 100%;">
                      <h5>Create route</h5>
                      <form method="POST" action="{% url 'volunteer:add_transfer_service' %}">
                        <div class="row">
                          <div class="col-sm-6">{% csrf_token %}
                            <div class="row">
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <div class="input-group date">
                                    <input class="form-control date-time-picker" type="text" name="transfer-datetime" placeholder="Enter pick up time" required>
                                    <div class="input-group-addon input-group-append">
                                      <div class="input-group-text"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <input class="form-control" name="transfer-refugees" value="" type="number" placeholder="Number of passengers" required>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <button class="btn btn-sm btn-outline-default" id="add-stop">Add stop &nbsp;
                                  <div class="fa fa-plus"></div>
                                </button>
                              </div>
                              <div class="col-sm-6">
                                <button class="btn btn-sm btn-outline-default" id="reset">Reset</button>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <table class="table table-sm" id="stops-table"></table>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <button class="btn btn-dark btn-block" type="submit">Add transfer</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <hr>
                    <div style="width: 100%; margin: 10px 0 10px 0;">
                      <h5>My transfers</h5>
                      <table class="table table-sm table-bordered">
                        <thead>
                          <tr>
                            <th>Pick up time</th>
                            <th>Number of seats</th>
                            <th>Route</th>
                            <th>Status</th>
                            <th>Delete</th>
                          </tr>
                        </thead>{% for transfer in transfers %}
                        <tr>
                          <td>{{ transfer.pick_up_time }}</td>
                          <td>{{ transfer.total_seats }}</td>
                          <td>{{ transfer.stopovers_text }}</td>
                          <td>{% if transfer.active %}
                            <div class="fa fa-check-circle"></div>{% else %}
                            <div class="fa fa-times-circle"></div>{% endif %}
                          </td>
                          <th><a class="delete-confirmation" href="{% url 'volunteer:delete_transfer_service' transfer_id=transfer.id %}" data-confirm="Are you sure you want to delete?">
                              <div class="fa fa-times-circle grey"></div></a></th>
                        </tr>{% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!--.card-->
              <!--    #serviceTwo.card-header-->
              <!--        h5.mb-0-->
              <!--            button.btn.btn-outline-primary.collapsed(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')-->
              <!--                | Hosting-->
              <!--    #collapseTwo.collapse(aria-labelledby='serviceTwo' data-parent='#accordion')-->
              <!--        .card-body-->
              <!--            | To be implemented-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-light">
      <div class="container py-5">
        <div class="row py-3">
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">About</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a class="text-muted" href="#">Contact Us</a></li>
              <li class="mb-2"><a class="text-muted" href="#">About Us</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Policy</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a class="text-muted" href="{% url 'frontend:data_privacy' %}">Privacy</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Services</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a class="text-muted" href="/login">Login</a></li>
              <li class="mb-2"><a class="text-muted" href="/">Register</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0"></div>
          <div class="col-lg-4 col-md-6 mb-lg-0">
            <p class="text-muted mb-0 py-2">© 2022 RefugeeCare</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <!-- JS should be towards the end to avoid render-block for content-->
  <script src="{% static 'js/vendor/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/vendor/popper.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/vendor/moment-with-locales.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap-select.min.js' %}"></script>
  <script src="{% static 'js/src/ajax_setup.js' %}"></script>
  <script src="{% static 'js/src/main.js' %}"></script>
  <script>
    $('.date-time-picker').datetimepicker({
      "allowInputToggle": true,
      "showClose": true,
      "showClear": true,
      "showTodayButton": true,
      "format": "DD/MM/YYYY HH:mm",
    });
    $('.date-picker').datepicker({format: "dd/mm/yyyy"});
    $('.select-autocomplete').selectpicker();
  </script>
  <script>
    var stops_table = $("#stops-table");
    function add_stops() {
        var stop_number = stops_table.find('tr').length;
        $.get("/locations/cities")
            .done(function (data){
                var html = "<select class='autocomplete-stops' name='transfer-stop-" + (stop_number + 1) + "'>";
                for (var i = 0; i < data.results.length ; i++) {
                    html += "<option value='" + data.results[i].id + "'>" + data.results[i].text + "</option>"
                }
                html += "</select>";
                stops_table.append("<tr><td><div style='margin-top: 5px;'>#" + (stop_number+1) + "</div></td><td>" + html + "</td></tr>");
            })
            .always(function () {
                $('.autocomplete-stops').selectpicker();
            });
    }
    $("#add-stop").click(function (e){
        e.preventDefault();
        add_stops();
    })
    $("#reset").click(function (e) {
        e.preventDefault();
        stops_table.html('');
    })
  </script>
</html>