extends ./../layout.pug
block content
    .container
        .row
            ul.breadcrumbs
                li.first
                    a(href="{% url 'organization:services' %}")
                        .fa.fa-support
                li
                    a(href="{% url 'organization:manage_helpers' %}") Manage helpers
                li.last.active
                    a(href='#') Edit helper
        .row
            .col-sm-6
                h3 Edit helper
            .col-sm-6
                .organization-box {{ helper.organization }}
        .row

        .row
            .col-sm-6
                form#data-form(method="POST")
                    | {% csrf_token %}
                    | {{ form|crispy }}
                    button.btn.btn-dark.btn-block(type="submit") Submit
