extends ./../layout.pug
block content
    .container
        .row
            ul.breadcrumbs
                li.first
                    a(href="{% url 'organization:services' %}")
                        .fa.fa-support
                li
                    a(href="{% url 'organization:manage_transfer_rules' %}") Manage transfer rules
                li.last.active
                    a(href='#') Edit transfer rules
        .row
            .col-sm-6
                h2 Edit Transfer rules
            .col-sm-6
                .organization-box {{ helper.organization }}
        .row
            .col-sm-12
                form#data-form(method="POST")
                    | {% csrf_token %}
                    | {{ form|crispy }}
                    button.btn.btn-dark.btn-block(type="submit") Edit transfer rules

block extra_js
    script(src="{% static 'js/vendor/ckeditor/ckeditor.js' %}")
    script.
        CKEDITOR.replace( 'rules' );
