extends ./../layout.pug
block content
    .container
        .row
            .col-sm-6.offset-sm-6
                .organization-box {{ helper.organization }}
        .row
            .col-sm-5
                h2
                    | Welcome!
        .row
            .col-sm-5
                span(style="font-weight: normal; font-size: 20px; font-style: italic;") {{ request.user.email }} &nbsp;
                span(style="font-weight: bold; font-size: 15px; color:darkgreen;") (HELPER)
            | {% if admin %}
            .col-sm-7
                .text-right
                    button.btn.btn-default
                        a.button-link(href="{% url 'organization:add_transfer' %}")
                            | Add transfer &nbsp;
                            .fa.fa-plus
                    button.btn.btn-default
                        a.button-link(href="{% url 'organization:manage_pick_up_points' %}")
                            | Pick up points &nbsp;
                            .fa.fa-gear
                    button.btn.btn-default
                        a.button-link(href="{% url 'organization:manage_helpers' %}")
                            | Helpers &nbsp;
                            .fa.fa-gear
            | {% endif %}
        hr
        .row
            .col-sm-12
                #accordion
                    .card(style="border: none;")
                        #serviceOne.card-header
                            h5.mb-0
                                button.btn.btn-outline-primary(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                    | Transfer
                        #collapseOne.collapse.show(aria-labelledby='serviceOne' data-parent='#accordion')
                            .card-body
                                | {% if transfers %}
                                .row
                                    .col-sm-12
                                        div(style="width: 100%; margin: 10px 10px;")
                                            h5 My transfers
                                            table.table.table-sm.table-bordered
                                                thead
                                                    tr
                                                        th Start time
                                                        th Route
                                                tbody
                                                    | {% for transfer in transfers %}
                                                    tr
                                                        td {{ transfer.start_time }}
                                                        td
                                                            a.transfer-details(href='#' data-transfer-id='{{ transfer.id }}') {{ transfer.stopovers_text }}
                                                    | {% endfor %}
                                | {% endif %}
                                | {% if organization_transfers %}
                                hr
                                .row
                                    .col-sm-12
                                        div(style="width: 100%; margin: 10px 10px;")
                                            h5 Organization transfers
                                            table.table.table-sm.table-bordered
                                                thead
                                                    tr
                                                        th Start time
                                                        th Route
                                                        th Delete
                                                tbody
                                                    | {% for transfer in organization_transfers %}
                                                    tr
                                                        td {{ transfer.start_time }}
                                                        td
                                                            a.organization-transfer-details(href='#' data-transfer-id='{{ transfer.id }}') {{ transfer.stopovers_text }}
                                                        td
                                                            a.delete-confirmation(href="{% url 'organization:delete_transfer' transfer_id=transfer.id %}" data-confirm='Are you sure you want to delete?')
                                                                .fa.fa-times-circle
                                                    | {% endfor %}
                                | {% endif %}
block extra_js
    script(src="{% static 'js/src/organization_services.js' %}")

block modal
    #transferDetailsModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h3.modal-title Transfer
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    h5 Route
                    table.table.table-bordered.table-sm
                        thead
                            tr
                                th #
                                th Time
                                th City
                                th Address
                        tbody#transfer-route-details-tbody
                    hr
                    h5 Details
                    table.table.table-bordered.table-sm
                        thead
                            tr
                                th Property
                                th Value
                        tbody#transfer-details-tbody
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
