extends ./../layout.pug
block content
    .container
        .row
            .col-sm-12
                h1 {{ registration_type }} registration
        | {% if not request.user.is_authenticated %}
        .row
            .col-sm-6
                form(method="POST")
                    | {% csrf_token %}
                    | {{ registration_form|crispy }}
                    button.btn.btn-block.btn-outline-success(type="submit") Register
        | {% else %}
        p.alert You are already registered.
        | {% endif %}
