extends ./../layout.pug
block content
    .container
        .row
            ul.breadcrumbs
                li.first
                    a(href="#")
                        .fa.fa-support
        .row
            .col-sm-12
                h1
                    | Welcome &nbsp;
                    span(style="font-weight: normal; font-size: 20px; font-style: italic;") {{ request.user.email }} &nbsp;
                    span(style="font-weight: bold; font-size: 15px; color:darkgreen;") (REFUGEE)
                p Please check your booked services.
        hr
        .row
            .col-sm-12
                #accordion
                    .card(style="border: none;")
                        #serviceOne.card-header
                            h5.mb-0
                                button.btn.btn-outline-primary(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                    | Transfer
                        #collapseOne.collapse.show(aria-labelledby='serviceOne' data-parent='#accordion')
                            .card-body
                                div(style="width: 100%; margin: 10px 0 10px 0;")
                                    h5 My transfers
                                    table#transfers-table.table.table-sm.table-bordered
                                        thead
                                            tr
                                                th Departure time
                                                th Reserved seats
                                                th Route
                                        tbody#transfers-tbody

block extra_js
    script.
        var loading = $("#loading");
        var transfers_table = $("#transfers-table");
        var transfers_tbody = $("#transfers-tbody");
        function get_transfers() {
            var html = '';
            transfers_tbody.html(html);
            loading.show();
            transfers_table.hide();
            $.get("/refugee/api/get-transfers").done(function (data) {
                for (var i = 0; i < data.results.length ; i++) {
                    html += (
                        "<tr>" +
                        "<td>" + data.results[i].departure_time + "</td>" +
                        "<td>" + data.results[i].seats + "</td>" +
                        "<td><a href='/refugee/transfer-reservation-details/" + data.results[i].id + "'>" + data.results[i].route + "</a></td>" +
                        "</tr>"
                    );
                }
                if (html === '') {
                    html = "<tr><td colspan=3>No results found</td></tr>";
                }
                transfers_tbody.append(html);
                transfers_table.show();
                loading.hide();
            })
        }
        $(function () {
            get_transfers();
        })
