extends ./../layout.pug
block content
    .container
        .row
            .col-sm-12
                h1
                    | Welcome &nbsp;
                    span(style="font-weight: normal; font-size: 20px; font-style: italic;") {{ request.user.email }} &nbsp;
                    span(style="font-weight: bold; font-size: 15px; color:darkgreen;") (REFUGEE)
                p Please check your booked services.
        hr
        .row
            .col-sm-12
                #accordion
                    .card(style="border: none;")
                        #serviceOne.card-header
                            h5.mb-0
                                button.btn.btn-outline-primary(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                    | Transfer
                        #collapseOne.collapse.show(aria-labelledby='serviceOne' data-parent='#accordion')
                            .card-body
                                div(style="width: 100%; margin: 10px 0 10px 0;")
                                    h5 My transfers
                                    table#transfers-table.table.table-sm.table-bordered
                                        thead
                                            tr
                                                th Departure time
                                                th Reserved seats
                                                th Route
                                                th Delete
                                        tbody#transfers-tbody
                                        | {% for reservation in transfer_reservations %}
                                        tr
                                            td {{ reservation.transfer.start_time|date:"d/m/Y H:i" }}
                                            td {{ reservation.seats }}
                                            td {{ reservation.route_text }}
                                            td
                                                | {% if reservation.transfer.active %}
                                                .fa.fa-check-circle
                                                | {% else %}
                                                .fa.fa-times-circle
                                                | {% endif %}
                                            th
                                                a.delete-confirmation(href="{% url 'refugee:delete_transfer_reservation' reservation_id=reservation.id %}", data-confirm="Are you sure you want to delete?")
                                                    .fa.fa-times-circle.grey
                                        | {% endfor %}

block extra_js
    script(src="{% static 'js/src/refugee_services.js' %}")

block modal
    #transferDetailsModal.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h5.modal-title Transfer
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    h5 Route
                    table.table.table-bordered.table-sm
                        thead
                            tr
                                th #
                                th Time
                                th City
                                th Address
                        tbody#transfer-route-details-tbody
                    hr
                    h5 Details
                    table.table.table-bordered.table-sm
                        thead
                            tr
                                th Property
                                th Value
                        tbody
                            tr
                                td Route
                                td#route
                            tr
                                td Vehicle
                                td#vehicle
                            tr
                                td Vehicle registration number
                                td#vehicle_registration_number
                            tr
                                td Reserved seats
                                td#seats
                            tr
                                td Food
                                td#food
                            tr
                                td Drinks
                                td#drinks
                            tr
                                td Blanket
                                td#blanket
                            tr
                                td Healthcare
                                td#heathcare
                            tr
                                td Translators
                                td#translators
                            tr
                                td Organization
                                td#organization
                            tr
                                td Helper
                                td#helper
                            tr
                                td Secondary helper
                                td#secondary_helper
                .modal-footer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
