extends ./../layout.pug
block content
    .container
        .row
            .col-sm-12
                h1 Make transfer reservation
        .row
            .col-sm-12
                h5(style="color: darkgrey;") {{ transfer.stopovers_text }}
        .row
            .col-sm-6
                form(method="POST")
                    | {% csrf_token %}
                    | {{ form|crispy }}
                    button.btn.btn-dark.btn-block(type="submit") Submit
