@font-face {
  font-family: 'Love Ya Like A Sister';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/css/fonts/LoveYaLikeASister-Regular.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
.navbar {
  background-color: #5AF;
  color: white; }

.navbar-brand {
  font-family: 'Love Ya Like A Sister', cursive; }
  .navbar-brand img {
    width: 50px;
    height: 50px; }

a.navbar-brand {
  font-size: 30px; }

a.nav-link {
  color: #eaeaea !important; }
  a.nav-link:hover {
    color: white !important; }

#content {
  min-height: 1000px; }

h1, h2 {
  margin: 50px 0 50px 0 !important; }

.fa-check-circle {
  color: green; }

.fa-times-circle {
  color: lightgrey; }

footer > hr {
  margin-top: 50px; }

a {
  text-decoration: none !important; }

.row {
  margin-top: 5px;
  margin-bottom: 5px; }

td, th {
  text-align: center !important; }

hr {
  margin-bottom: 20px !important;
  margin-top: 20px !important; }

.help-block {
  font-style: italic;
  color: #797979;
  font-size: 14px; }
  .help-block a {
    color: #2c2c2c; }
    .help-block a:hover {
      color: black; }

table {
  font-size: 14px; }

#formResult {
  position: fixed;
  top: 120px;
  width: 70%;
  margin: 0 0 0 15%;
  text-align: center;
  z-index: 10;
  display: none; }

.popup-visible {
  z-index: 10; }

.alert {
  margin-bottom: 0; }

a.button-link {
  display: block;
  color: #2c2c2c; }
  a.button-link:hover {
    color: black; }

.strong {
  font-weight: bold; }

.filter-option-inner-inner {
  color: #262626; }

.bootstrap-select {
  width: auto !important;
  min-width: 220px; }

.organization-box {
  padding: 7px 12px;
  border: 1px grey solid;
  font-size: 15px;
  float: right; }

ul.breadcrumbs {
  margin: 25px 0px 0px;
  padding: 0px;
  font-size: 0px;
  line-height: 0px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  height: 40px; }
  ul.breadcrumbs li {
    position: relative;
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    border-left: 1px solid #ccc;
    transition: 0.3s ease; }
    ul.breadcrumbs li:hover:before {
      border-left: 10px solid #ebebeb; }
    ul.breadcrumbs li:hover a {
      color: #000;
      background: #ebebeb; }
    ul.breadcrumbs li:before {
      content: "";
      position: absolute;
      right: -9px;
      top: -1px;
      z-index: 20;
      border-left: 10px solid #fff;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      transition: 0.3s ease; }
    ul.breadcrumbs li:after {
      content: "";
      position: absolute;
      right: -10px;
      top: -1px;
      z-index: 10;
      border-left: 10px solid #ccc;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent; }
    ul.breadcrumbs li.active a {
      color: #000;
      background: #ebebeb; }
    ul.breadcrumbs li.first {
      border-left: none; }
      ul.breadcrumbs li.first a {
        font-size: 18px;
        padding-left: 20px;
        border-radius: 5px 0px 0px 5px; }
    ul.breadcrumbs li.last:before {
      display: none; }
    ul.breadcrumbs li.last:after {
      display: none; }
    ul.breadcrumbs li.last a {
      padding-right: 20px;
      border-radius: 0px 40px 40px 0px; }
    ul.breadcrumbs li a {
      display: block;
      font-size: 12px;
      line-height: 40px;
      color: #757575;
      padding: 0px 15px 0px 25px;
      text-decoration: none;
      background: #fff;
      border: 1px solid #ddd;
      white-space: nowrap;
      overflow: hidden;
      transition: 0.3s ease; }

/*# sourceMappingURL=styles.css.map */
