.navbar {
  background-color: $logo-color;
  color: white;
}
.navbar-brand {
  font-family: 'Love Ya Like A Sister', cursive;
  img {
    width: 50px;
    height: 50px;
  }
}
a.navbar-brand {
  font-size: 30px;
}
a.nav-link {
  color: #eaeaea !important;
  &:hover {
    color: white !important;
  }
}
#content {
  margin-top: 50px;
  min-height: 1000px;
}
h1, h2 {
  margin: 0 0 15px 0 !important;
}
.fa-check-circle {
  color: green;
}
.fa-times-circle {
  color: lightgrey;
}
footer > hr {
  margin-top: 50px;
}
a {
  text-decoration: none !important;
}
.row {
  margin-top: 5px;
  margin-bottom: 5px;
}
td, th {
  text-align: center !important;
}
hr {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
.help-block {
  font-style: italic;
  color: #797979;
  font-size: 14px;
  a {
    color: #2c2c2c;
    &:hover {
      color: black;
    }
  }
}
table {
  font-size: 14px;
}
#formResult {
  position: fixed;
  z-index: 10000;
  top: 120px;
  width: 70%;
  margin: 0 0 0 15%;
  text-align: center;
}
.alert {
  margin-bottom: 0;
}


//Override plugin css
.filter-option-inner-inner {
  color: #262626;
}
