<!DOCTYPE html>{% load static crispy_forms_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="{% static 'images/logo/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'images/logo/apple-icon.png' %}">
    <title>Refugee Management</title>
    <!-- CSS-->
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/select2.min.css' %}">
  </head>
  <body>{% if success %}
    <div class="alert alert-success alert-dismissable form-success" role="alert">
      <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times</span></button>{{ success }}
    </div>{% endif %}
    {% if error %}
    <div class="alert alert-danger alert-dismissable form-error" role="alert">
      <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times</span></button>{{ error }}
    </div>{% endif %}
    <nav class="navbar navbar-expand-lg navbar-dark"><a class="navbar-brand mb-0" href="/">Refugee Care</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarText">
        <div class="navbar-nav">
          <div class="nav-item"><a class="nav-link" href="{% url 'frontend:home' %}">Home</a></div>
        </div>
        <div class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          {% if request.user.is_staff %}
          <div class="nav-item"><a class="nav-link" href="/admin">Admin</a></div>{% endif %}
          <div class="nav-item"><a class="nav-link" href="/logout">Logout</a></div>{% else %}
          <div class="nav-item"><a class="nav-link" href="/login">Login</a></div>{% endif %}
        </div>
      </div>
    </nav>
    <div id="content">
      <div class="container" id="home-container">
        <div class="row">
          <div class="col-sm-12">{% if request.user.is_authenticated %}
            <h1>Welcome &nbsp;<span style="font-weight: normal; font-size: 20px; font-style: italic;">{{ request.user.email }}</span></h1>{% else %}
            <h1>Welcome!</h1>{% endif %}
            <p>This is a refugee management service where volunteers can can provide help and support as well as refugees can connect with the volunteer services.</p>
          </div>
        </div>{% if not request.user.is_authenticated %}
        <div class="row">
          <div class="col-sm-6">
            <form method="POST">
              {% csrf_token %}
              {{ registration_form|crispy }}
              <button class="btn btn-block btn-outline-success" type="submit">Register</button>
            </form>
          </div>
        </div>{% endif %}
        {% if is_volunteer %}
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <div id="accordion">
              <div class="card" style="border: none;">
                <div class="card-header" id="serviceOne">
                  <h5 class="mb-0">
                    <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Transfer</button>
                  </h5>
                </div>
                <div class="collapse" id="collapseOne" aria-labelledby="serviceOne" data-parent="#accordion">
                  <div class="card-body">
                    <h5>Create route</h5>
                    <div class="row"></div>
                    <form>
                      <div class="col-sm-6">{% csrf_token %}
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <div class="input-group date">
                                <input class="form-control date-time-picker" type="text" name="datetime" placeholder="Enter pick up time">
                                <div class="input-group-addon input-group-append">
                                  <div class="input-group-text"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <input class="form-control" name="passengers" value="" type="number" placeholder="Number of passengers">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <button class="btn btn-sm btn-outline-default" id="add-stop">Add stop &nbsp;
                              <div class="fa fa-plus"></div>
                            </button>
                          </div>
                          <div class="col-sm-6">
                            <button class="btn btn-sm btn-outline-default" id="reset">Reset</button>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <table class="table table-sm" id="stops-table"></table>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <button class="btn btn-dark btn-block" type="submit">Add transfer</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!--.card-->
              <!--    #serviceTwo.card-header-->
              <!--        h5.mb-0-->
              <!--            button.btn.btn-outline-primary.collapsed(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')-->
              <!--                | Hosting-->
              <!--    #collapseTwo.collapse(aria-labelledby='serviceTwo' data-parent='#accordion')-->
              <!--        .card-body-->
              <!--            | To be implemented-->
            </div>
          </div>
        </div>{% endif %}
      </div>
    </div>
    <footer class="bg-light">
      <div class="container py-5">
        <div class="row py-3">
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">About</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a class="text-muted" href="#">Contact Us</a></li>
              <li class="mb-2"><a class="text-muted" href="#">About Us</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Policy</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a class="text-muted" href="{% url 'frontend:data_privacy' %}">Privacy</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Services</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a class="text-muted" href="/login">Login</a></li>
              <li class="mb-2"><a class="text-muted" href="/">Register</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0"></div>
          <div class="col-lg-4 col-md-6 mb-lg-0">
            <p class="text-muted mb-0 py-2">© 2022 RefugeeCare</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <!-- JS should be towards the end to avoid render-block for content-->
  <script src="{% static 'js/vendor/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/vendor/popper.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/vendor/moment-with-locales.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'js/vendor/select2.min.js' %}"></script>
  <script src="{% static 'js/src/ajax_setup.js' %}"></script>
  <script src="{% static 'js/src/main.js' %}"></script>
  <script>
    $('.date-time-picker').datetimepicker({
      "allowInputToggle": true,
      "showClose": true,
      "showClear": true,
      "showTodayButton": true,
      "format": "DD/MM/YYYY HH:mm",
    });
  </script>
  <script>
    var stops_table = $("#stops-table");
    function add_stops() {
        var stop_number = stops_table.find('tr').length;
        $.get("/locations/cities")
            .done(function (data){
                var html = "<select class='autocomplete-stops' name='stop-" + (stop_number + 1) + "'>";
                for (var i = 0; i < data.results.length ; i++) {
                    html += "<option value='" + data.results[i].id + "'>" + data.results[i].text + "</option>"
                }
                html += "</select>";
                stops_table.append("<tr><td>#" + (stop_number+1) + "</td><td>" + html + "</td></tr>");
            })
            .always(function () {
                $('.autocomplete-stops').select2();
            });
    }
    $("#add-stop").click(function (e){
        e.preventDefault();
        add_stops();
    })
    $("#reset").click(function (e) {
        e.preventDefault();
        stops_table.html('');
    })
  </script>
</html>