doctype html
| {% load static crispy_forms_tags %}
html(lang='en')

    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(content='text/html; charset=UTF-8', name='Content-Type')
        link(rel='shortcut icon', href="{% static 'images/logo/favicon.ico' %}")
        link(rel='apple-touch-icon', href="{% static 'images/logo/apple-touch-icon.png' %}")

        block social
            // Facebook Card
            meta(property='og:title', content='Refugee Management Service')
            meta(property='og:url', content='https://www.refugeecare.eu')
            meta(property='og:type', content='website')
            block fb_description
                meta(property='og:description', content='Refugee management services which are dedicated to connect refugees to volunteers.')
            meta(property='og:image', content="{% static 'images/logo/apple-touch-icon.png' %}")
            // Twitter Card
            meta(name='twitter:card', content='summary_large_image')
            meta(name='twitter:title', content='Refugee Management Service')
            block twitter_description
                meta(name='twitter:description', content='Refugee management services which are dedicated to connect refugees to volunteers.')
            meta(name='twitter:url', content='https://www.refugeecare.eu')
            meta(name='twitter:image', content="{% static 'images/logo/apple-touch-icon.png' %}")

        block robots
            meta(name="robots" content="index, follow")

        block title
            title Refugee Management
        block extra_head
        block description
            meta(name="description" content="Refugee management services which are dedicated to connect refugees to volunteers.")
        // CSS
        link(rel="stylesheet" href="{% static 'css/styles.min.css' %}")
        link(rel="stylesheet" href="{% static 'css/vendor/font-awesome.css' %}")
        link(rel="stylesheet" href="{% static 'css/vendor/bootstrap/bootstrap.min.css' %}")
        link(rel="stylesheet" href="{% static 'css/vendor/bootstrap-datetimepicker.min.css' %}")
        link(rel="stylesheet" href="{% static 'css/vendor/bootstrap-datepicker.min.css' %}")
        link(rel="stylesheet" href="{% static 'css/vendor/bootstrap-select.min.css' %}")


        block canonical
        block extra_css
    body
        include mixins.pug
        block header
            include ./layout/header.pug
        #content
            block content
        include ./layout/footer.pug

    // JS should be towards the end to avoid render-block for content
    script(src="{% static 'js/vendor/jquery/jquery-3.6.0.min.js' %}")
    script(src="{% static 'js/vendor/popper.min.js' %}")
    script(src="{% static 'js/vendor/bootstrap/bootstrap.bundle.min.js' %}")
    script(src="{% static 'js/vendor/moment-with-locales.min.js' %}")
    script(src="{% static 'js/vendor/bootstrap-datetimepicker.min.js' %}")
    script(src="{% static 'js/vendor/bootstrap-datepicker.min.js' %}")
    script(src="{% static 'js/vendor/bootstrap-select.min.js' %}")
    script(src="{% static 'js/src/ajax_setup.js' %}")
    script(src="{% static 'js/src/main.js' %}")
    script.
        $('.date-time-picker').datetimepicker({
          "allowInputToggle": true,
          "showClose": true,
          "showClear": true,
          "showTodayButton": true,
          "format": "DD/MM/YYYY HH:mm",
        });
        $('.date-picker').datepicker({format: "dd/mm/yyyy"});
        $('.select-autocomplete').selectpicker();
    block modal
    block extra_js
    +gaSetup()
