mixin gaSetup()
    | {% if not request.user.is_superuser %}
    +gaProduction()
    | {% else %}
    +gaDevelopment()
    | {% endif %}

mixin gaDevelopment()
    script.
        ga = function () {
            console.log('ga:', arguments);
        };

mixin gaProduction()
    // Global site tag (gtag.js) - Google Analytics
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-GH7KMYE0E3')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-GH7KMYE0E3');

mixin pagination
    | {% if page_number_list %}
    nav(aria-label='...')
        ul.pagination
            li.page-item
                a.page-link(href='?page=1', page='1') &laquo;
            | {% for page_number in page_number_list %}
            | {% if page_obj.number == page_number %}
            li.page-item.active
                span.page-link {{ page_number }}
            | {% else %}
            li.page-item
                a.page-link(href='?page={{ page_number }}', page='{{ page_number }}') {{ page_number }}
            | {% endif %}
            | {% endfor %}
            li.page-item
                a.page-link(href='?page={{ page_obj.paginator.num_pages }}', page='{{ page_obj.paginator.num_pages }}') &raquo;
    | {% endif %}
