{% if success %}
<div class="alert alert-success alert-dismissable form-success" role="alert">
  <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times</span></button>{{ success }}
</div>{% endif %}
{% if error %}
<div class="alert alert-danger alert-dismissable form-error" role="alert">
  <button class="close" type="button" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times</span></button>{{ error }}
</div>{% endif %}
<nav class="navbar navbar-expand-lg navbar-dark"><a class="navbar-brand mb-0" href="/">Refugee Care</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="navbar-nav">
      <div class="nav-item"><a class="nav-link" href="{% url 'frontend:home' %}">Home</a></div>{% if request.user.is_authenticated %}
      <div class="nav-item"><a class="nav-link" href="/profile">Profile</a></div>{% endif %}
    </div>
    <div class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
      {% if request.user.is_staff %}
      <div class="nav-item"><a class="nav-link" href="/admin">Admin</a></div>{% endif %}
      <div class="nav-item"><a class="nav-link" href="/logout">Logout</a></div>{% else %}
      <div class="nav-item"><a class="nav-link" href="/login">Login</a></div>{% endif %}
    </div>
  </div>
</nav>